{% render 'partials/head.liquid', title: 'Squad page' %}
{% assign maanden = "Januari,Februari,Maart,April,Mei,Juni,Juli,Augustus,September,Oktober,November,December" |
split:"," %}

<main>
  <section>
    <h1>Squadpage</h1>
    
    <div class="filter-buttons">
      <p> filter op geboortemaand en kom erachter met wie nog meer jarig is in dezelfde maand!</p>
     
      {% for maand in (1..12) %}
      <a href="/maand/{{ maand }}" class="button">
        {{ maanden[forloop.index0] }} 
      </a>
      {% endfor %}
    </div>

  </section>

  <section class="students">
    <h2>Students</h2>

    <ul class="person-list">

      {% for person in persons %}
      {% if person.avatar != blank %}

      <li class="person">
        <a href="/student/{{ person.id }}">
          <img src="{{ person.avatar }}" alt="avatar foto">
          <div class="person-details">
            <h3>{{ person.name }}</h3>
            <p>{{ person.birthdate }}</p>
          </div>
        </a>
      </li>

      {% endif %}
      {% endfor %}

    </ul>
  </section>
</main>


{% render 'partials/foot.liquid', squads: squads %}